.container {
    margin-top: 50px;
}

.filters {
    border: 1px solid #C8C8C8;
    border-radius: 3px;
}

.filters > div.filter-body {
    padding: 0px 10px;
}

.margin-bottom-20 {
     margin-bottom: 20px;
}
.filter-control {
    padding: 10px 15px;
}

.slider {
    padding-left: 20px;
    padding-right: 20px;
}
.form-control {
    font-size: 11px;
}