{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('css/jquery-ui.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/jtable.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/servers.css') }}" rel="stylesheet"/>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/symfony54_servers.js') }}"></script>
{% endblock %}
    
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-5 col-sm-12">
                <div class="row margin-bottom-20">
                    <div class="col-sm-12">
                        <div class="filters">
                            <div class="jtable-main-container">
                                <div class="jtable-title">
                                    <div class="jtable-title-text">Disk Storage</div>
                                </div>
                            </div>
                            <div class="filter-body">
                                <div class="row">
                                    <div class="col-sm-12 filter-control slider">
                                        <input type="text" id="storage" readonly style="border:0; color:#f6931f; font-weight:bold;" />
                                        <input type="hidden" value="0" id="storage_start" />
                                        <input type="hidden" value="72TB" id="storage_end" />
                                        <div id="storage_slider"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-bottom-20">
                    <div class="col-sm-12">
                        <div class="filters">
                            <div class="jtable-main-container">
                                <div class="jtable-title">
                                    <div class="jtable-title-text">RAM</div>
                                </div>
                            </div>
                            <div class="filter-body">
                                <div class="row">
                                    <div class="col-sm-12 filter-control" id="ram_types">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-bottom-20">
                    <div class="col-sm-12">
                        <div class="filters">
                            <div class="jtable-main-container">
                                <div class="jtable-title">
                                    <div class="jtable-title-text">Storage Type</div>
                                </div>
                            </div>
                            <div class="filter-body">
                                <div class="row">
                                    <div class="col-sm-12 filter-control">
                                        <select id="storage_type" class="form-control">
                                            <option value="">Select</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-bottom-20">
                    <div class="col-sm-12">
                        <div class="filters">
                            <div class="jtable-main-container">
                                <div class="jtable-title">
                                    <div class="jtable-title-text">Locations</div>
                                </div>
                            </div>
                            <div class="filter-body">
                                <div class="row">
                                    <div class="col-sm-12 filter-control">
                                        <select id="locations" class="form-control">
                                            <option value="">Select</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-7 col-sm-12 server-list" id="server-list-container">
                <div class="jtable-main-container">
                    <div class="jtable-busy-panel-background jtable-busy-panel-background-invisible" style="display: none; width: 730px; height: 100%;"></div>
                    <div class="jtable-busy-message" style="display: none;"></div>
                    <div class="jtable-title">
                        <div class="jtable-title-text">Server List</div>
                        <div class="jtable-toolbar"></div>
                    </div>
                    <table class="jtable">
                        <thead>
                            <tr>
                                <th class="jtable-column-header" style="width: 40%;">
                                    <div class="jtable-column-header-container">
                                        <span class="jtable-column-header-text">Server Name</span>
                                    </div>
                                </th>
                                <th class="jtable-column-header" style="width: 15.0685%;">
                                    <div class="jtable-column-header-container">
                                        <span class="jtable-column-header-text">RAM</span>
                                    </div>
                                </th>
                                <th class="jtable-column-header" style="width: 14.9315%;">
                                    <div class="jtable-column-header-container">
                                        <span class="jtable-column-header-text">HDD</span>
                                    </div>
                                </th>
                                <th class="jtable-column-header" style="width: 20%;">
                                    <div class="jtable-column-header-container">
                                        <span class="jtable-column-header-text">Location</span>
                                    
                                    </div>
                                </th>
                                <th class="jtable-column-header" style="width: 10%;">
                                    <div class="jtable-column-header-container">
                                        <span class="jtable-column-header-text">Price</span>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <div class="jtable-bottom-panel">
                        <div class="jtable-left-area">
                            <span class="jtable-page-list">
                                <span class="jtable-page-number-first jtable-page-number-disabled">&lt;&lt;</span>
                                <span class="jtable-page-number-previous jtable-page-number-disabled">&lt;</span>
                                &nbsp;
                                <span class="jtable-page-number-next">&gt;</span>
                                <span class="jtable-page-number-last">&gt;&gt;</span>
                            </span>
                            <span class="jtable-goto-page">
                                <span>Go to page: </span>
                            </span>
                            <span class="jtable-page-size-change"><span>Row count: </span>
                                <select>
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                    <option value="250">250</option>
                                    <option value="500">500</option>
                                </select>
                            </span>
                        </div>
                        <div class="jtable-right-area">
                            <span class="jtable-page-info"></span>
                        </div>
                    </div>
                    <div class="jtable-column-selection-container"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}